<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <title>Cars Inventory</title>
    </head>
    <body>
        <div class="container">
            <h1 class="jumbotron">Places You've Been</h1>
            <form action="/places" method="post">
              <label for="country">Add a Country</label>
              <input id="country" name="country" type="text">
              <label for="city">Add City</label>
              <input id="city" name="city" type="text">
              <label for="activity">Best activity</label>
              <input id="activity" name="activity" type="text">
              <button class="btn btn-danger" type="submit">Add place</button>
            </form>
        </div>
    </body>
</html>
